<!DOCTYPE html>

<html lang="en" ng-app="opium_ui_app">
<head>
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Opium-UI</title>
    <meta name="viewport" content="initial-scale=1">

    <style>
        .md-headline { font-size: 125% }
        .md-display-1 { font-size: 210% }
        .md-title { font-size: 125%}

        .sample-show-hide {  }
        .sample-show-hide {
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
        }
        .sample-show-hide.ng-hide {  opacity: 0;  }
        #file-input {  display: none;  }

        .selected_work {
            font-style: italic;
        }

        .task-card {
            padding: 1.25em;
            text-align: center;
        }

    </style>
</head>
<body layout="column" ng-controller="rootController as rc" ng-cloak resize>
<md-content flex layout="column">
    <md-content style="height:50px;">
        <div>
<!--            put something here -->
        </div>
    </md-content>

    <md-content flex layout="row">
        <md-card flex="25" >
            <md-card-content>
                <div layout="row" layout-align="center center">
                    <h3 class="md-headline">Opium Work in progress</h3>
                    <span flex /><!-- span-flex here eats up remaining space in the row while leaving the button square-->
                    <md-button class="md-fab md-mini md-primary md-hue-1" ng-click="reconnect()">
                        <ng-md-icon icon="refresh" style="fill:#ffffff"></ng-md-icon>
                    </md-button>
                </div>

                <md-list layout-padding>
                    <md-list-item ng-repeat="(work, details) in work_orders"
                                  layout-align="center center"
                                  ng-click="get_work_details(work)"
                                    style="text-overflow: ellipsis">
                            <div class="md-list-item-text-2">
                                <h3 ng-class="work == selected_work ? 'selected_work' : ''">{{details.name}}</h3>
                            </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-content flex layout="column">
            <!-- TODO -- maybe use UI state to show plate related stuff? -->
            <!-- <div ng-if="ui_state=='workorder'" layout-padding> -->
            <div layout-padding>

                <div ng-show="selected_work">
                    <div layout="row" layout-align="space-between center">
                        <h3 class="md-display-1"><i>{{work_orders[selected_work].name}}</i></h3>
                    </div>

                    <div layout-padding>
                        <p>{{selected_work}}</p>
                    </div>

                    <div ng-repeat="instance in work_orders[selected_work].plates">
                        <md-progress-linear class="" md-mode="determinate"  value="{{(instance.task_index_next/instance.tasks.length) * 100}}"></md-progress-linear>
                        <div layout="row" layout-align="space-between center" layout-padding>
                            <h3 class="md-title"><i>{{ instance._id }}</i></h3>
                            <p>{{(instance.task_index_next/instance.tasks.length) * 100 | number:0}}% complete ({{instance.task_index_next}} / {{instance.tasks.length}})</p>
                            <md-button class="md-fab md-mini md-primary md-hue-1" ng-click="reconnect()">
                                <ng-md-icon icon="refresh" style="fill:#ffffff"></ng-md-icon>
                            </md-button>
                        </div>
                        <!-- Display current task list, highlighting executing and current tasks -->
                        <div layout="row" layout-align="space-between center" layout-padding>
                            <div ng-repeat="task in instance.tasks">
                                <div ng-if="instance.task_index_next == $index && instance.task_index_wip != -1" style="color:deepskyblue"><md-card class="task-card"><b>{{task.name}}</b></md-card></div>
                                <div ng-if="instance.task_index_next == $index && instance.task_index_wip == -1"><md-card class="task-card"><b>{{task.name}}</b></md-card></div>

                                <div ng-if="instance.task_index_next != $index"><i>{{task.name}}</i></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- selected work -->
            </div>
        </md-content>
    </md-content>
</md-content>

<script src="/static/bower_components/angular/angular.min.js"></script>
<script src="/static/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/static/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/static/bower_components/angular-material/angular-material.min.js"></script>
<script src="/static/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/fabric/dist/fabric.min.js"></script>

<script src="/static/web_app.js"></script>
</body>
</html>
